.result-page {
   ion-label{
        border: 1px 1px 1px 1px;
        border-color: black;
        border-width: 0.8px !important;
        border-style: solid;
        border-radius: 2px;
        height: 25px;
    }
   
}


