.md .input-page{
 .borders-button{
    border: 1px 1px 1px 1px;
    border-color: #00a39c;
    border-width: 2px !important;
    border-style: solid;
    border-radius: 4px;
    height: 25px;
 }
 .invalid {
    border: 1px solid #ea6153;
 }
}
