.input-page{
    .borders-button{
        border: 1px 1px 1px 1px;
        border-color: #00a39c;
        border-width: 2px !important;
        border-style: solid;
        border-radius: 4px;
        height: 25px;
    }
    .invalid {
        border: 1px solid #ea6153;
    }
    .toolbar-title-app {
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color : #00a39c;
        text-overflow: none;
    }
    .other-text{
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #494848;
    }
    
    ion-label{
        font-size: 12px;
    }
    
   
}
