.chaldeaninfo-page{
    ion-label{
        font-size: 20px;
        font-style: bold;
        margin: 2px 0px 2px 0px;
    }
    ion-col{
        padding: 0px;
    }
    .value-row{
        margin: 2px 0px 20px 0px;
    }
    ion-navbar {
        letter-spacing: 0em; 
        text-overflow: none;
    }
}
